<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="home.css">
    <script src="countdown.js" defer></script>
</head>
<body>
    <h2 class="title-countdown">Le parrainage commence dans :</h2>
    <div class="countdown" id="countdown" data-time="2022-11-20T00:00:00+0000">
        <div class="countdown-card">
            <strong id="days"></strong>
            <em>Jours</em>
        </div>
        <div class="countdown-card">
            <strong id="hours"></strong>
            <em>Heures</em>
        </div>
        <div class="countdown-card">
            <strong id="minutes"></strong>
            <em>Minutes</em>
        </div>
        <div class="countdown-card">
            <strong id="seconds"></strong>
            <em>Secondes</em>
        </div>
    </div>
</body>
</html>