<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="page">
        <main class="main">
            <div class="main-header">
                <div class="main-header-left">
                    <img src="assets/logo.svg" alt="logo">
                    <span>SponsorShipApp</span>
                </div>
            </div>
            <div class="content">
                <div class="main-container">
                    <div class="main-container-header">
                        <h2>Connexion</h2>
                    </div>
                    <form class="main-container-form">
                        <div>
                            <input type="email" placeholder="Email">
                        </div>
                        <div>
                            <img src="assets/hide.svg" alt="hide">
                            <input type="password" placeholder="Mot de passe">
                        </div>
                        <button type="submit">Log in</button>
                    </form>
                    <div class="main-container-footer">
                        <span>Vous n'avez pas de compte ?</span>
                        <a href="register.html" class="green">Inscrivez vous !</a>
                    </div>
                </div>
            </div>
            <p>
                Realise par <a href="#">Cabrel Sianou</a> & <a href="https://lndev.me">Leonel Ngoya</a>
            </p>
        </main>
        <asisde class="aside">
            <div class="aside-container">
                <p>
                    Realise par <a href="#">Cabrel Sianou</a> & <a href="https://lndev.me">Leonel Ngoya</a>
                </p>
            </div>
        </asisde>
    </div>
</body>
</html>