<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="register.css">
</head>
<body>
    <div class="page">
        <asisde class="aside">
            <div class="aside-container">
                <p>
                    Realise par <a href="#">Cabrel Sianou</a> & <a href="https://lndev.me">Leonel Ngoya</a>
                </p>
            </div>
        </asisde>
        <main class="main">
            <div class="main-header">
                <div class="main-header-left">
                    <img src="assets/logo.svg" alt="logo">
                    <span>SponsorShipApp</span>
                </div>
            </div>
            <div class="content">
                <div class="main-container">
                    <div class="main-container-header">
                        <h2>Inscription</h2>
                    </div>
                    <form class="main-container-form">
                        <div>
                            <input type="text" placeholder="Nom">
                        </div>
                        <div>
                            <input type="text" placeholder="Prenom">
                        </div>
                        <div>
                            <input type="text" placeholder="Filiere">
                        </div>
                        <div>
                            <select>
                                <option value="Sexe" selected="true" disabled="disabled">Sexe</option>
                                <option value="Masculin">Masculin</option>
                                <option value="Feminin">Feminin</option>
                            </select>
                        </div>
                        <div>
                            <input type="email" placeholder="Email">
                        </div>
                        <div>
                            <input type="file" placeholder="Photo" accept="image/*">
                        </div>
                        <div>
                            <input type="tel" placeholder="Numero de telephone">
                        </div>
                        <div>
                            <img src="assets/hide.svg" alt="hide">
                            <input type="password" placeholder="Mot de passe">
                        </div>
                        <div>
                            <img src="assets/hide.svg" alt="hide">
                            <input type="password" placeholder="Confirmez le mot de passe">
                        </div>
                        <button type="submit">Log in</button>
                    </form>
                    <div class="main-container-footer">
                        <span>Vous avez deja un compte ?</span>
                        <a href="login.html" class="green">Connectez vous !</a>
                    </div>
                </div>
            </div>
            <p>
                Realise par <a href="#">Cabrel Sianou</a> & <a href="https://lndev.me">Leonel Ngoya</a>
            </p>
        </main>
    </div>
</body>
</html>